/* App-wide styles */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //position: fixed;
  object-fit: contain;
  font-family: 'Segoe UI', sans-serif;
}

:root {
  --vh: 1vh;
}

#root {
  display: flex;
  width: 100%;
}

// .app {
//   font-family: 'Segoe UI', sans-serif;
// }

.mainWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  flex-grow: 1;
}

header, footer {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.mainContent {
  //flex-grow: 1; /* Takes up all available space */
  overflow-y: auto; /* Enables scrolling on the main content */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
}

.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.main-content {
  max-height: 100%;
  background-image: repeating-linear-gradient(
    0deg,
    #d6f5ff 0px,
    #d6f5ff 4px,
    #c8df8e 4px,
    #c8df8e 8px
  );
  margin-top: -1px;
  width: 100%;
  box-shadow: inset 0 15px 10px -10px black;
}

.internal-content {
  //flex-grow: 1; /* Takes up all available space */
  overflow-y: auto; /* Enables scrolling on the main content */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  //display: flex;
  //justify-content: center;
  //align-items: flex-start;
  //flex-grow: 1;
  max-height: 100%;
  margin: 10px 20px;
}

.page-title {
  width: 100%;
  height: 50px;
  background-color: #006837;
  border-radius: 30px;
  color: #fff;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-title h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 50px;
}

.page-title svg {
  width: 30px;
  height: 28px;
  fill: #fff;
}

.homePage {
  overflow: hidden; /* No scrolling for HomePage */
}

#main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto; /* Center the container */
  display: flex;
  justify-content: center; /* Center everything inside it horizontally */
  align-items: center; /* Center everything inside it vertically */
}

.background-circle {
  width: calc(2 * 1.5 * 125px * 0.75); /* 75% of the full diameter */
  height: calc(2 * 1.5 * 125px * 0.75); /* Same as width */
  background-color: rgba(139, 196, 62, 0.3); /* #8BC43E with 50% transparency */
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
}

.background-circle2 {
  width: calc(2 * 1.5 * 135px * 0.75); /* 75% of the full diameter */
  height: calc(2 * 1.5 * 135px * 0.75); /* Same as width */
  background-color: transparent;
  border-radius: 50%; /* Makes it a circle */
  position: absolute;
  outline: 4px solid white;
}

#circle-container {
  width: 120px; /* As previously defined */
  height: 120px; /* As previously defined */
  background-color: #006837; /* Same as header color */
  border-radius: 50%; /* Makes it a circle */
  border: 2px solid white; /* White border */
  padding: 10px; /* Space from border to image */
  box-sizing: border-box; /* Border included in width/height */
  display: flex; /* Keeps child img centered */
  justify-content: center; /* Centers child img horizontally */
  align-items: center; /* Centers child img vertically */
  position: relative; /* Important for stacking */
}

#circle-container::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 2px solid white;
}

#circle-container img {
  max-width: calc(90% - 15px); /* Contains image 15px inside */
  max-height: calc(90% - 15px); /* Contains image 15px inside */
  object-fit: contain; /* Keeps the aspect ratio of the image */
}

.white-circle {
  width: 105px; /* Same size as the green circle */
  height: 105px; /* Same size as the green circle */
  background-color: white; /* White background */
  border-radius: 50%; /* Makes it a circle */
  position: absolute; /* Positioned absolutely in relation to the #circle-container */
  border: 5px solid #8bc43e;
  box-shadow: inset 0 8px 16px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center;
}

.homePage .icon-svg {
  width: 67%;
  height: 67%;
  fill: #e7e7e7;
  display: block;
  max-width: 100%; /* Ensure SVG doesn't exceed its container */
  max-height: 100%; /* Adjust to ensure the icon fits well */
  margin: auto;
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  right: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.rotated-icon svg {
  transform: translate(-50%, -50%) rotate(-45deg); /* Rotate first, then translate */
}

.circle-text {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  font-size: 26px;
  color: #006837;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: auto;
  font-weight: bolder;
}

.exploring-header {
  position: absolute;
  top: 22%; /* Adjust this value based on actual layout needs */
  width: 100%;
  text-align: center;
  z-index: 2; /* Ensure it is above the background but below interactive elements if needed */
  font-size: 34px; /* Adjust size as necessary */
  color: #006837; /* Assuming white text */
}

.content-item:nth-child(odd) {
  background-color: #04A2C922;
}

.content-item {
  text-align: center;
  padding: 15px;
  margin-top: 10px;

  h2 {
    color: #007037;
  }

  .descriptBox {
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    padding: 10px;

    p {
      font-size: 1.2rem;
    }
  }

  .reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .stars {
      font-size: 2.2rem;
      color: #FFD700; /* Gold color for stars */
      display: flex;
    }

    .star {
      display: inline-block;
    }

    .star.half {
      position: relative;
    }

    .star.half::before {
      content: '★';
      position: absolute;
      left: 0;
      width: 50%;
      overflow: hidden;
      color: #FFD700;
    }

    .star.empty {
      color: #DDD;
    }

    .reviews-text {
      font-size: 1rem;
      color: #333;
      margin-top: 5px;
      text-align: center;
    }

    .more-button {
      background-color: #BCD743;
      color: #005a29;
      border: none;
      padding: 10px 25px;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: bold;
      border-radius: 10px;
      margin-left: 10px;
    }

    .more-button:hover {
      background-color: #005a29;
    }
  }
}


