/* App-wide styles */
body, html {
    height: 90vh;
    height: calc(var(--vh, 1vh) * 50);
    margin: 0;
    padding: 0; /* Prevents scrolling on the html/body directly */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    object-fit: contain;
  }

  :root {
    --vh: 1vh;
  }
  
  .mainWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .header, .footer {
    flex-shrink: 0; /* Ensures that header and footer do not shrink */
    width: 100%;
    position: sticky; /* Sticky positioning */
    top: 0; /* Header sticks at the top */
    background-color: #fff; /* Background color for visibility */
    z-index: 1000; /* Ensures it's above other content */
  }
  
  .footer {
    top: auto;
    bottom: 0; /* Footer sticks at the bottom */
  }
  
  .mainContent {
    flex-grow: 1; /* Takes up all available space */
    overflow-y: auto; /* Enables scrolling on the main content */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
  }