html, body {
    height: 100%;
    margin: 0;
    overflow: auto;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  header, footer {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  header {
    top: 0;
  }
  
  footer {
    bottom: 0;
  }
  
  main.internal-content {
    flex: 1 0 auto;
    overflow-y: auto;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
    //margin-top: var(--header-height);
    //margin-bottom: var(--footer-height);
  }
  
  .page-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    margin-top: 50px;
  }
  
  .content {
    padding: 20px;
  }
  
  .content-item {
    margin-bottom: 20px;
  }
  