footer {
    background-image: linear-gradient(to bottom, #007037, #BF772F);
    text-align: center;
    color: white;
    height: 100px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    

    .footer-circles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
    }

    .footer-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        border: 2px solid #BF772F;
        box-shadow: 3px 3px 6px #000;
    }

    .icon-svg {
        width: 65%;
        fill: #E7E7E7;
        position: absolute;
    }

    .icon-label {
        color: #007037;
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        width: 100%;
        text-align: center;
        top: 50%;  // Centers vertically
        transform: translateY(-50%);  // Offset for exact centering
        z-index: 1;  // Ensures text is above the icon
    }

    .active {
        background-color: #007037;  // Active background color
    }
    
    .active-icon {
        fill: #BF772F;  // Active icon fill
    }
    
    .active-text {
        color: white;  // Active text color
    }
}